 body {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: bisque;
 }

 ::placeholder {
     color: red;
 }

 .placeholderText {
     color: red;
 }

 #newTaskError {
     display: none;
     color: red;
 }