body {
    font-weight: 500;
    background-color: #f6f4d2;

}

.calcDisplay {
    height: 100px;
    width: 435px;
    background-color: darkgrey;
    margin: auto;
    border-style: solid;
    border-width: 1.5px;
}

button {
    font-family: monospace;
    font-size: 30px;
    transition: all 100ms ease-in-out;
}


/* not getting the hover shadow right*/

.calc {
    width: 430px;
    margin: auto;
    background-color: #ef233c;

}

.numbers {
    display: inline-block;
    float: left;
    width: 327px;
}

.numbers button {
    background-color: #2b2d42;
    color: #edf2f4;
    width: 100px;
    height: 100px;
    margin: 3px;
}

.operators {
    display: inline-block;
    float: right;
    width: 100px;
}

.operators button {
    background-color: #2b2d42;
    color: #edf2f4;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 3px;
}

.equals {
    display: block;
    width: 220px;
    transform: translateX(-110px);
}

#equals {
    width: 210px;
    transform: translate(-110px, -106px);
}

#eight {
    background-color: #D4E09B;
    color: black;
}

#nine {
    background-color: #D4E09B;
    color: black;
}

#two {
    color: black;
    background-color: #D4E09B;
}

#three {
    color: black;
    background-color: #D4E09B;
}


#five {
    color: black;
    background-color: #D4E09B;
}

#six {
    color: black;
    background-color: #D4E09B;
}

#seven {
    color: black;
    background-color: #D4E09B;
}

#four {
    color: black;
    background-color: #D4E09B;
}

#one {
    color: black;
    background-color: #D4E09B;
}

button:hover {
    box-shadow: 5px 5px 20px #A44A3F !important;

}

#equals {
    color: black;
    background-color: #F19C79;
}